@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Questrial&display=swap');
body {
    font-family: 'Questrial', sans-serif;
    color: #fff;
    background: #191636;
}

a {
    color: #FFDE59;
}

a:hover {
    color: #FFDE59;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Questrial', sans-serif;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
}

.back-to-top i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #AEABC4;
    color: #fff;
    transition: all 0.4s;
}

.back-to-top i:hover {
    background: #706194;
    color: #fff;
}


/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/

@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero {
    width: 100%;
    overflow: hidden;
    position: relative;
    background-image: url('https://cdn.hipwallpaper.com/i/27/58/GYDTyd.gif'), linear-gradient(to right, #ffffff, #ffffff);
    padding: 0;
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
}

#hero .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    height: 100vh;
    padding-top: 10px;
    z-index: 999;
}

#hero .logo_sk{
    height: 40px;
    width: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #fff;
    margin-left: 10px;
}

#hero h2 {
    color: #fff;
    margin-bottom: 5%;
    font-size: 48px;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#hero h2:hover {
    font-size: 55px;
    color: rgb(119, 255, 92);
    transition: all 0.3s ease-in-out;
}

#hero p {
    width: 80%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    margin: 0 auto 30px auto;
    color: #fff;
}

#hero .btn-get-started {
    font-family: 'Questrial', sans-serif;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: black;
    background-color: #FFDE59;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #FFDE59;
}

#hero .btn-get-started:hover {
    background: #fff;
    color: #311839;
    text-decoration: none;
    border: 2px solid #fff;
}

@media (min-width: 1024px) {
    #hero p {
        width: 60%;
    }
    #hero .carousel-control-prev,
    #hero .carousel-control-next {
        width: 5%;
    }
}

@media (max-width: 768px) {
    #hero .carousel-container {
        height: 90vh;
    }
    #hero h2 {
        font-size: 28px;
    }
}

@media (max-width: 400px) {
    #hero h2 {
        font-size: 25px;
    }
    #hero p{
        font-size: 20px !important;
    }
    #hero .logo_sk{
        height: 30px;
        width: 30px;
        border: 2px solid #fff;
        border-radius: 50%;
        background-color: #fff;
        margin-left: 10px;
    }
}

@media (max-width: 360px) {
    #hero h2 {
        font-size: 23px;
    }
    #hero p{
        font-size: 17px !important;
    }

    #hero a{
        font-size: 15px !important;
    }

    #hero .logo_sk{
        height: 30px;
        width: 30px;
        border: 2px solid #fff;
        border-radius: 50%;
        background-color: #fff;
        margin-left: 10px;
    }
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

section {
    padding: 60px 0;
    overflow: hidden;
}

.section-title {
    padding-bottom: 40px;
}

.section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFDE59;
    font-family: 'Questrial', sans-serif;
}

.section-title h2::after {
    content: "";
    width: 90px;
    height: 1px;
    display: inline-block;
    background: #AEABC4;
    margin: 4px 10px;
}

.section-title p {
    margin: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #4c3e6d;
}

.section-title .spon-btn{
    margin-bottom: 0px;

}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.about {
    padding-top: 80px;
    font-family: 'Questrial', sans-serif;
}

.about .content h3 {
    font-weight: 600;
    font-size: 26px;
}

.about .container p{
    color: #fff;
    
}
.about .content p{
    font-size: 17px;
}
.about .content ul {
    list-style: none;
    padding: 0;
}

.about .content ul li {
    padding-left: 28px;
    position: relative;
    font-size: 17px;
}

.about .content ul li+li {
    margin-top: 10px;
}

.about .content ul i {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px;
    color: #FFDE59;
    line-height: 1;
}

.about .content p:last-child {
    margin-bottom: 0;
}

.about .content .btn-learn-more {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 5px;
    transition: 0.3s;
    line-height: 1;
    color: #FFDE59;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid #FFDE59;
}

.about .content .btn-learn-more:hover {
    background: #FFDE59;
    color: black;
    text-decoration: none;
}


/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/

.features .nav-tabs {
    border: 0;
    margin-top: 10px;
}

.features .nav-link {
    border: 3px solid #FFDE59;
    padding: 15px;
    transition: 0.3s;
    color: #FFDE59;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.features .nav-link i {
    padding-right: 15px;
    font-size: 48px;
}

.features .nav-link h4 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.features .nav-link:hover {
    color: #fff;
}

.features .nav-link.active {
    background: #FFDE59;
    color: black;
    border-color: #FFDE59;
}

@media (max-width: 768px) {
    .features .nav-link i {
        padding: 0;
        line-height: 1;
        font-size: 36px;
    }
}

@media (max-width: 575px) {
    .features .nav-link {
        padding: 15px;
    }
    .features .nav-link i {
        font-size: 24px;
    }
}

.features .tab-content {
    margin-top: 50px;
}

.features .tab-pane h3 {
    margin-top: 10px;
    font-weight: 600;
    font-size: 26px;
}

.features .tab-pane ul {
    list-style: none;
    padding: 0;
    font-family: 'Questrial', sans-serif;
}

.features .tab-pane ul li {
    padding-bottom: 15px;
    font-size: 17px;
}

.features .tab-pane ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #FFDE59;
}

.features .tab-pane p:last-child {
    margin-bottom: 0;
}


/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/

.cta {
    padding: 80px 0;
}

.cta hr{
    background-color: #fff;
    margin-top: -30px;
    margin-bottom: 100px;
    
}

.cta hr.second{
    margin-bottom: 0;
    margin-top: 90px;
}

.cta h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

.cta p {
    color: #fff;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.cta .cta-btn {
    font-family: 'Questrial', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    color: black;
    background: #FFDE59;
}

.cta .cta-btn:hover {
    background: #fff;
    color: black;
}

@media (max-width: 920px) {
    #hero img {
        width: 160%;
    }
}

@media (max-width: 769px) {
    #hero {
        height: 100vh;
    }
    #hero img {
        width: 200%;
    }
}

@media (max-width: 640px) {
    #hero img {
        width: 240%;
    }
}

@media (max-width: 530px) {
    #hero img {
        width: 280%;
    }
}

@media (max-width: 430px) {
    #hero img {
        width: 350%;
    }
    #hero {
        height: 95vh;
    }
}

@media (max-width: 1024px) {
    .cta {
        background-attachment: scroll;
    }
}

@media (min-width: 769px) {
    .cta .cta-btn-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}


/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/

.services .icon-box {
    padding: 30px;
    margin-bottom: 40px;
    position: relative;
    overflow: hidden;
}

.services .firstLine{
    background-color: #fff;
    margin-bottom: 70px;
}

.services .probHead{
    color: #fff;
}

.services .lastLine{
    background-color: #fff;
    margin-bottom: 70px;
}

.services .icon {
    position: absolute;
    left: 0px;
    top: 10%;
}

.services .icon i {
    font-size: 69px;
    line-height: 1;
    transition: 0.1s;
    color: #FFDE59;
}

.services .title {
    margin-left: 40px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 22px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.services .title a {
    color: #FFDE59;
    transition: ease-in-out 0.3s;
}

.services .title a:hover {
    color: #FFDE59;
    font-size: larger;
}

.services .description {
    font-size: 17px;
    font-family: 'Questrial', sans-serif;

    margin-left: 40px;
    line-height: 24px;
    margin-bottom: 0;
}


/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/

.testimonials .testimonial-item {
    box-sizing: content-box;
    padding: 30px 30px 0 30px;
    margin: 30px 15px;
    text-align: center;
    min-height: 350px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
}

.testimonials p{
    color: #fff;
}

.testimonials .titles h3 {
    font-weight: 400;
    margin: -20px -20px 25px -20px !important;
    padding: 30px 15px i !important;
    font-size: 18px;
    font-weight: 600;
}

.testimonials .testimonial-item .testimonial-img {
    width: 90px;
    border-radius: 50%;
    border: 4px solid #fff;
    margin: 0 auto;
}

.testimonials .testimonial-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #111;
}

.testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
    color: #fedac0;
    font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
}

.testimonials .testimonial-item p {
    font-style: italic;
    margin: 0 auto 15px auto;
}

.testimonials .owl-nav,
.testimonials .owl-dots {
    margin-top: 5px;
    text-align: center;
}

.testimonials .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd !important;
}

.testimonials .owl-dot.active {
    background-color: #FFDE59 !important;
}

@media (max-width: 767px) {
    .testimonials {
        margin: 30px 10px;
    }
}

.speakers .speak_card {
    border-color:#191636;
    background-color: #191636;
}

.speakers .card-img-top{
    border-radius: 20%;
}

.card-body h4{
    font-family: "Poppins", sans-serif;    
    font-weight: 600;
    font-size: 25px;

}
.speakers .card-body p{
    font-family: "Questrial", sans-serif;
    color: #fff ;
    margin: 0px;
    font-size:18px;    
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/

.pricing .box {
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.pricing img{
    height: 170px;
    width: 170px;
}

.pricing p{
    color: #fff;
}

.pricing h3 {
    font-weight: 400;
    margin: -20px -20px 25px -20px;
    padding: 30px 15px;
    font-size: 18px;
    font-weight: 600;
}

.pricing h4 {
    font-size: 36px;
    margin-top: 15px;
    color: #fff;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
}

.pricing a {
    font-size: 36px;
    margin-top: 20px;
    color: #fff;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    margin-bottom: 20px;
}

.pricing h6{
    font-size: 18px;
    font-weight: 200;
}

.pricing ul {
    padding: 0;
    list-style: none;
    color: #444444;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}

.pricing ul li {
    padding-bottom: 16px;
}

.pricing ul i {
    color: #50546e;
    font-size: 18px;
    padding-right: 4px;
}

.pricing ul .na {
    color: #ccc;
    text-decoration: line-through;
}

.pricing .btn-wrap {
    margin: 20px -20px -20px -20px;
    padding: 20px 15px;
    background: #f8f8f8;
    text-align: center;
}

.pricing .btn-buy {
    background: #FFDE59;
    display: inline-block;
    padding: 8px 35px 10px 35px;
    border-radius: 50px;
    color: #fff;
    transition: none;
    font-size: 14px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    transition: 0.3s;
}

.pricing .btn-buy:hover {
    background: #4c3e6d;
}

.pricing .featured {
    border: 2px solid #50546e;
}

.pricing .featured h3 {
    color: #fff;
    background: #4c3e6d;
}

.pricing .advanced {
    width: 200px;
    position: absolute;
    top: 18px;
    right: -68px;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 14px;
    padding: 1px 0 3px 0;
    background: #4c3e6d;
    color: #fff;
}

 .pricing .spon-head{
    margin-top: 25px;
    margin-bottom: 0px;
    font-size: 25px;
}

.pricing .team-name{
    margin-top: 25px;
    margin-bottom: 0px;
    font-size:19px;
}
.pricing .sponsor-cards{
    justify-content: center;
}
.pricing .team-img{
    width:150px;
    height:150px;
    border:4px solid #fff;
    border-radius: 50%;
}

.pricing .reach{
    margin-top: 10px;
}

.pricing .linkedin-team{
    font-size: 32px;
    font-weight: 200;
}

.pricing .linkedin-team:hover{
    color: #fff;
    background-color: transparent;
}

.pricing .team-box h6{
    font-size: 16px;
}
.pricing .patron,.faculty,.team{
    justify-content: center;
}



/*--------------------------------------------------------------
# F.A.Q
--------------------------------------------------------------*/

.faq {
    padding: 60px 0;
    font-family: 'Questrial', sans-serif;
}

#faq p{
    color: #fff;
}



.faq .faq-list {
    padding: 0;
    list-style: none;
}

.faq .faq-list li {
    padding: 0 0 20px 25px;
}

.faq .faq-list a {
    display: block;
    position: relative;
    font-size: 20px;
    font-weight: 500;
}

.faq .faq-list i {
    font-size: 18px;
    position: absolute;
    left: -25px;
    top: 6px;
}

.faq .faq-list p {
    margin-bottom: 20px;
    font-size: 17px;
}



.faq .faq-list a.collapsed {
    color: #fff;
}



.faq .faq-list a.collapsed i::before {
    content: "\eab2" !important;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    background: #14151c;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
}

#footer h3 {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    position: relative;
    font-family: 'Questrial', sans-serif;
    padding: 0;
    margin: 0 0 15px 0;
}

#footer p {
    padding: 0;
    margin: 0 0 10px 0;
}

#footer .social-links {
    margin: 20px 0 40px 0;
}

#footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #FFDE59;
    color: black;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .number{
    font-weight: 400;
}


#footer .social-links a:hover {
    background: #ffffff;
    color: black;
    text-decoration: none;
}

#footer .copyright {
    margin: 0 0 5px 0;
}

#footer .credits {
    font-size: 13px;
}

.speakers {
    justify-content: space-around;
}

.speak_card {
    width: 14rem;
    margin: 10px;
    text-align: center;
}

.speak_card p {
    color: black;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.footer-info {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.footer-info .info1 {
    width: 15rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.footer-info a {
    color: #FFDE59;
}